:root {
    --primary-color: #F58700;
  }

#about {
    margin-left: 7rem;
    padding-top: 10rem;
}

.about-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 18%;
}

.about-text {
    flex-basis: 42%;
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.about-image {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid var(--primary-color);
    cursor: pointer;
}

.about-image img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    transition: 0.3s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.25);
}

@media (max-width: 480px) {
    #about {
        margin-left: 0;
        padding: 1em;
        margin: 0 auto;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        border: 5px solid var(--primary-color);
        background: rgb(15, 47, 95);
        border-radius: 1%;
        padding: 1.25em;
    }
    
    .about-text {
        flex-basis: 0;
    }


    .about-image {
        width: 200px;
        height: 200px;
        cursor: none;
        margin-top: 1em;
    }
    
    .about-image img {
        transition: none;
    }
    
    .about-image img:hover {
        transform: none;
    }
}

@media (max-width: 1023px) {
    

}

@media (max-width: 1279px) {

    #about {
        padding-top: 8rem !important;
    }
    #about {
        margin-left: 5rem;
        padding-top: 10rem;
    }

    .about-text h1 {
        font-size: 1.5em;
    }

    .about-text p {
        line-height: 1.4em;
        font-size: 1em;
    }
    
}



@media (min-width: 1500px) {

    #about {
        padding-top: 15rem;
    }
    
    .about-container {
        gap: 10%;
    }
    
    .about-text {
        flex-basis: 50%;
    }
    
    .about-text p {
        font-size: 1.5em;
        line-height: 1.35em;
    }

    .about-text h1 {
        font-size: 2.4em;
    }
    
    .about-image {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 1900px) {

    #about {
        margin-left: 7rem;
        padding-top: 20rem;
    }

}
