:root {
    --primary-color: #F58700;
  }

#about {
    margin-left: 7rem;
    padding-top: 10rem;
}

.about-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.5em;
    gap: 18%;
}

.about-text {
    flex-basis: 42%;
}

.about-image {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid var(--primary-color);
    cursor: pointer;
}

.about-image img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    transition: 0.3s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.25);
}
