@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #F58700;
  --mobile-box-color: #01155c;
}

* {
  scroll-behavior: smooth;
  background-color: #F2F3F4;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}