:root {
    --primary-color: #F58700;
  }

#contact {
    margin-top: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    border: 5px solid var(--primary-color);
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #F2F3F4;
    border-radius: 16px;
}

.formContainer input, textarea {
    outline: 0;
    background: #e0dfdf;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

.formContainer textarea {
    height: 80px;
    resize: vertical;
}

.formContainer button {
    outline: 0;
    background: #3324be;
    width: 100px;
    height: 30px;
    border: 0;
    color: #ffffff;
    font-size: 0.9em;
    border-radius: 15px;
    cursor: pointer;
}

.formContainer button:hover {
    background: #0c054b;
}

@media (max-width: 480px) {
    #contact {
        padding: 1em;
    }
}

@media (min-width: 1500px) {
    #contact {
        margin-top: 20rem;
        padding-bottom: 15rem;
    }

    .formContainer {
        width: 500px;
        padding: 2em;
        border-width: 6px;
    }

    .formContainer h2 {
        font-size: 1.75rem;
    }

    .formContainer input, 
    .formContainer textarea {
        font-size: 1.1rem;
        padding: 15px;
    }

    .formContainer textarea {
        height: 130px;
    }

    .formContainer button {
        width: 140px;
        height: 45px;
        font-size: 1rem;
    }

}

@media (min-width: 1900px) {

}