#home {
    display: flex;
    align-items: center;
}

.introduction {
    padding-top: 7.5rem;
    margin-left: 7rem;
}

.introduction p {
    font-size: 3em;
    font-weight: 700;
    color: white;
    line-height: 1.4em;
}

.introduction nav {
    display: flex;
    gap: 1.5em;
    text-align: center;
    margin-top: -1em;
}

.introduction nav a img {
    width: 30px;
    height: 30px;
}

.introduction nav a {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.introduction nav a:hover {
    transform: scale(1.2)   ;
}

@media (max-width: 480px) {

    #home {
        display: flex;
        flex-direction: column;
        padding-bottom: 10rem;
    }

    .introduction {
        text-align: center;
        margin-left: 0 !important;
    }

    .introduction p {
        font-size: 2em !important;
    }

    nav {
        justify-content: center;
    }
}

@media (max-width: 1023px) {
    .introduction {
        padding-top: 4.5rem;
        margin-left: 5em;
    }

    .introduction p {
        font-size: 2.2em;
    }

    .introduction nav {
        gap: 1.5em;
    }

    .introduction nav a img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 1279px) {
    .introduction {
        padding-top: 6rem;
        margin-left: 5em;
    }

    .introduction p {
        font-size: 2.75em;
    }

    .introduction nav {
        gap: 1.75em;
    }
}



@media (min-width: 1500px) {

    .introduction {
        padding-top: 12rem;
    }

    .introduction p {
        font-size: 3.75em;
    }

    .introduction nav {
        gap: 2.3em;
        margin-top: -1.5em
    }

    .introduction nav a img {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1900px) {

    introduction p {
        font-size: 3.5em;
    }

}

