#home {
    display: flex;
    align-items: center;
}

.introduction {
    padding-top: 7.5rem;
    margin-left: 7rem;
}

.introduction p {
    font-size: 3em;
    font-weight: 700;
    color: white;
    line-height: 1.4em;
}

.introduction nav {
    display: flex;
    gap: 1.5em;
    text-align: center;
    margin-top: -1em;
}

.introduction nav a img {
    width: 30px;
    height: 30px;
}

.introduction nav a {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.introduction nav a:hover {
    transform: scale(1.2)   ;
}

/* Example Device: Samsung Galaxy S10 */
/* Dimensions: 360 x 760 pixels */
/* iPhone SE*/
/* Dimensions: 375 x 667 pixels */
@media (max-width: 449px) {
    #home {
        flex-direction: column;
        align-items: center;
    }

    .introduction {
        margin-left: 0;
        text-align: center;
    }

    .introduction p {
        font-size: 2em;
    }

    nav {
        justify-content: center;
    }
}

