:root {
  --primary-color: #F58700;
}

#projects {
    margin-top: 10rem;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper {
    width: 900px;
    height: 500px;
}

.swiper-slide {
    border-radius: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.swiper-slide h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(190, 182, 182);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(252, 203, 140);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(179, 255, 245);
}

.projects-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.project-description,
.project-technologies {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description h3,
.project-technologies h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #333;
}

.project-description p {
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
}

.technology-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.technology-images img {
  width: 50px;
  height: auto;
  margin: 0 0.75rem;
  transition: transform 0.3s;
}

.technology-images img:hover {
  transform: scale(1.15);
}

.project-link {
    margin-top: 2rem;
}

.view-images-link {
    font-size: 1.2rem;
    color: #e86826;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.view-images-link:hover {
    color: #ac5c11;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--primary-color) !important;
    font-weight: bold !important;
    transition: color 0.3s !important;
    position: absolute !important;
    top: 50% !important;
    width: 30px !important;
    height: 30px !important;
    margin-top: -15px !important;
    z-index: 10 !important;
}

.swiper-button-prev {
    left: -12% !important;
}

.swiper-button-next {
    right: -18% !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #ac5c11 !important;
}

@media (max-width: 480px) {
    #projects {
        margin-top: 3rem;
        padding-top: 1rem;
    }

    .swiper {
        width: 85%;
        height: auto; 
    }

    .swiper-slide {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .swiper-slide h2 {
        font-size: 1.1rem;
        text-align: center;
    }

    .projects-container {
        flex-direction: column;
        padding: 0.2rem;
        align-items: center;
        width: 100%;
    }

    .project-description {
        padding-bottom: 0.5em;
    }

    .project-description,
    .project-technologies {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .project-description h3,
    .project-technologies h3 {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }

    .project-description p {
        font-size: 0.8rem;  
        margin: 0;
    }

    .technology-images {
        justify-items: center;
        margin-top: 0.5rem;
        gap: 0.5em;
    }


    .technology-images img {
        margin-right: 0;
        width: 25px;
        margin: 0.5rem;
        transition: none;
        
    }

    .technology-images img:hover {
        transform: none;
    }

    .project-link {
        margin-top: 1em;
    }

    .view-images-link {
        font-size: 0.8rem;
    }
}

@media (max-width: 1023px) {
    

}

@media (max-width: 1279px) {

    .swiper-projects {
        margin-left: 10%;
    }
    
    .swiper-slide {
        width: 75% !important;
        height: 80% !important;
    }
    
    .swiper-slide h2 {
        margin-top: 0.5rem;
        font-size: 1.6rem;
    }
    
    .projects-container {
        padding: 1rem;
        gap: 2rem;
    }
    
    .project-description,
    .project-technologies {
        width: 50%;
    }
    
    .project-description h3,
    .project-technologies h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.2rem;
        color: #333;
    }
    
    .technology-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-top: 3rem;
    }
    
    .technology-images img {
      width: 40px;
    }
    
    .project-link {
        margin-top: -1rem;
    }
    
    .view-images-link {
        font-size: 1em;
    }

    .swiper-button-prev {
        left: -7% !important;
    }
    
    .swiper-button-next {
        right: 5% !important;
    }
    
}



@media (min-width: 1500px) {

    #projects {
        padding-top: 8rem;
    }

    #projects h1 {
        font-size: 2.3em;
    }

    .swiper {
        width: 1200px;
        height: 570px;
    }

    .swiper-projects {
        margin-left: 25%;
    }

    .swiper-slide h2 {
        font-size: 2rem;
        margin-top: 0;
    }

    .swiper-slide {
        padding: 3rem;
    }

    .projects-container {
        padding: 2rem;
    }

    .project-description h3, .project-technologies h3 {
        font-size: 1.5rem;
    }

    .project-description p {
        font-size: 1.15rem;
        line-height: 1.5em;
    }

    .technology-images {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2.5rem !important;
    }

    .technology-images img {
        width: 50px;
    }

    .swiper-button-prev {
        left: -15% !important;
    }

    .swiper-button-next {
        right: 8% !important;
    }

    .project-link {
        margin-top: 1rem;
    }
    
    .view-images-link {
        font-size: 1.2rem;
        color: #e86826;
        text-decoration: none;
        transition: color 0.3s;
        font-weight: bold;
    }

}



